#item-add-services {
  font-family: FuturaDemiC, sans-serif;
  background: #6561ab url("../../assets/add-service-overlay.png") 50% -220% no-repeat;
  background-size: cover;
  @include vw-property(padding-bottom, 115, 2100);

  .add-services-headline {
    background: url("../../assets/line-rainbow.png") 50% 50% no-repeat; // 50% -4% no-repeat;
    background-size: cover;
    text-align: center;
    padding: 29px 0 19px;
    box-shadow: 0 0 14.4px 3.6px #05364c;

    h1 {
      @include vw-font-size(14, 66.5, 2100); // 66.5px; // TODO посмотреть min-font-size в мобильной версии
      text-transform: uppercase;
      text-shadow: -1px 0 black, 1px 1px black, 1px 0 black, 0 -1px black;
      color: white;
    }
  }

  // TODO оптимизация блока
  .add-service-grid-container {
    margin: 48px auto 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "item-1 item-1 item-2 item-2 item-3 item-3"
      ". item-4 item-4 item-5 item-5 .";
    justify-items: center;
    grid-gap: 25px;

    .add-service-grid-container__item {
      img {
        @include vw-property(height, 250, 2100); // 250px
        display: block;
        margin: auto;
        border-radius: 100%;
        box-shadow: 0 0 35px 12px #8079ee;
        @include vw-property(border-width, 10, 2100); // 10px
        border-style: solid;
      }

      img:hover {
        filter: brightness(107%);
        box-shadow: 0 0 35px 15px #8079ee;
        transition: filter 0.4s;
      }

      .add-service-item__description {
        margin-top: 16px;
        text-align: center;
        color: white;

        h1 {
          margin-bottom: 25px;
          text-transform: uppercase;
          @include vw-font-size(14, 22, 2100); // 22px; // TODO посмотреть min-font-size в мобильной версии
        }

        p {
          @include vw-font-size(14, 18, 2100); // 18px; // TODO посмотреть min-font-size в мобильной версии
        }
      }
    }

    #add-service-item_1 {
      grid-area: item-1;

      img {
        border-color: #4eb9f3;
      }
    }

    #add-service-item_2 {
      grid-area: item-2;
      img{
        border-color: #ffca05;
      }
    }

    #add-service-item_3 {
      grid-area: item-3;
      img {
        border-color: #ef3d5a;
      }
    }

    #add-service-item_4 {
      grid-area: item-4;
      img {
        border-color: #9b59b6;
      }
    }

    #add-service-item_5 {
      grid-area: item-5;
      img {
        border-color: #ff8343;
      }
    }
  }
}