$exposure-bg-color_from: #29d3ec;
$exposure-bg-color_to: #27aae1;
$exposure-headline-bg-color: #9cd900;
$exposure-headline-font-color: #002232;
$exposure-headline-font-color: #002232;
$exposure-subheader: #262626;
$exposure-lesson-headline-color: #0a4a65;
$exposure-lesson-item-headline-color: #063e56;
$btn-reserve_inner: #fac53b;

#item-exposure {
  background-image: linear-gradient($exposure-bg-color_from, $exposure-bg-color_to);
  font-family: FuturaDemiC, sans-serif;
  text-align: center;
  padding-bottom: 30px;

  .exposure-overlay-left {
    width: 0;
    height: 0;
    position: relative;
    left: 0%;
    top: 2%;

    img {
      width: 24vw;
    }
  }

  .exposure-overlay-right {
    margin-left: auto;
    width: 0;
    height: 0;
    position: relative;
    right: 27.25%;
    top: 3%;

    img {
      width: 27vw;

    }
  }

  .exposure-overlay-bottom {
    width: 100%;
    height: 0;
    position: relative;
    bottom: -43%;

    img {
      position: relative;
      width: 100%;
      z-index: 0;
    }
  }

  .exposure-overlay-layer {
    width: 100%;
    height: 0;
    position: relative;
    top: 50.5%;

    &__item-round {
      border-radius: 100%;
    }

    img {
      position: relative;
    }

    #exposure-overlay-layer__item1 {
      display: inline-block;
      position: absolute;
      top: 0;
      @include vw-property(left, 40, 2100); // 720px

      .exposure-overlay-layer-item__image {
        //@include vw-property(width, 435, 2100); // 720px
        width: 435px;
        transform: rotate(-5deg);
      }

      .exposure-overlay-layer-item__btn {
        //@include vw-property(bottom, 435, 2100); // 720px
        bottom: 34vh;
        left: -43vh;
      }
    }

    #exposure-overlay-layer__item2 {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;

      .exposure-overlay-layer-item__image {
        //@include vw-property(width, 435, 2100); // 720px
        width: 435px;
      }

      .exposure-overlay-layer-item__btn {
        // bottom: 305px;
        top: -25vh;
        left: -46vh;
      }
    }
  }

  @media screen and (max-width: 1650px) {
    .exposure-overlay-left, .exposure-overlay-right,
    .exposure-overlay-bottom, .exposure-overlay-layer {
      display: none;
    }
  }

  .exposure-headline {
    text-transform: uppercase;
    padding: 4px 0;
    background-color: $exposure-headline-bg-color;
    box-shadow: 0 0 14.4px 3.6px #05364c;

    p {
      @include vw-font-size(14, 51, 2100); // 51px; // TODO посмотреть min-font-size в мобильной версии
      color: $exposure-headline-font-color;
    }
  }

  .exposure-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "anatomy anatomy how-everything-works how-everything-works how-everything-works mechanics mechanics magnets magnets"
                          ". optics optics natural-science natural-science natural-science electronics electronics .";
    grid-gap: 6px;
    margin-bottom: 22px;

    .exposure-grid-container__item {
      justify-self: center;

      .util-space {
        @include vw-property(height, 180, 1920); // 180px
        min-height: 140px; // TODO посмотреть min-height в мобильной версии
        display: grid;
        justify-items: center;
        align-items: end;

        img {
          min-height: 100px; // TODO посмотреть min-height в мобильной версии
        }

        img:hover {
          filter: brightness(107%);
          transition: filter 0.4s;
        }
      }

      .exposure-item__description {
        text-align: center;

        h1 {
          @include vw-property(margin, 24, 2100); // 24px
          @include vw-font-size(14, 38, 2100); // 38px; // TODO посмотреть min-font-size в мобильной версии
          color: $exposure-subheader;
          text-transform: uppercase;
        }

        p {
          @include vw-font-size(14, 20, 2100); // 20px; // TODO посмотреть min-font-size в мобильной версии
          color: white;
        }
      }
    }

    #exposure-item__anatomy {
      grid-area: anatomy;

      img {
        @include vw-property(height, 164, 2100); // 164px
      }
    }

    #exposure-item__how-everything-works {
      grid-area: how-everything-works;

      img {
        @include vw-property(height, 145, 2100); // 145px
      }
    }

    #exposure-item__mechanics {
      grid-area: mechanics;

      img {
        @include vw-property(height, 119, 2100); // 119px
      }
    }

    #exposure-item__magnets {
      grid-area: magnets;
      z-index: 100;

      img {
        @include vw-property(height, 150, 2100); // 150px
      }
    }

    #exposure-item__optics {
      grid-area: optics;

      img {
        @include vw-property(height, 183, 2100); // 183px
      }
    }

    #exposure-item__natural-science {
      grid-area: natural-science;

      img {
        @include vw-property(height, 154, 2100); // 154px
      }
    }

    #exposure-item__electronics {
      grid-area: electronics;

      img {
        @include vw-property(height, 164, 2100); // 164px
      }
    }
  }

  .btn-reserve {
    display: inline-block;
    padding: 7px;
    background-color: white;
    border-radius: 12px;
    box-shadow: inset 0px -4px 1px 0px #c3c3c3, 0 5px 10px #5c5c5c;
    cursor: pointer;

    .btn-reserve__inner {
      height: content-box;
      display: inline-block;
      padding: 10px 25px;
      @include vw-font-size(14, 38.5, 2100); //38.5px; // TODO посмотреть min-font-size в мобильной версии
      background-color: $btn-reserve_inner;
      text-transform: uppercase;
      border-radius: 4px;
      box-shadow: inset 0px -4px 1px 0px #fc910d;
    }
  }

  .btn-reserve:hover {
    filter: brightness(104%);
  }

  .btn-reserve:active {
    box-shadow: inset 0px -4px 1px 0px #c3c3c3, 0 10px 25px #5c5c5c;
    filter: brightness(109%);
  }

  .exposure-lessons {
    margin-top: 34px;

    .exposure-lessons-headline {
      background-color: #dddfdf;
      box-shadow: 0 0 14.4px 3.6px #054f69;
      padding: 23px 0;
      @include vw-property(margin-left, 93, 2100); // 93px
      @include vw-property(margin-right, 93, 2100); // 93px

      p {
        color: $exposure-lesson-headline-color;
        @include vw-font-size(14, 36, 2100); //36px; // TODO посмотреть min-font-size в мобильной версии
      }
    }

    .exposure-lessons-container {
      margin: 23px auto 20px;

      .exposure-lessons-container__item:not(:last-child) {
        @include vw-property(margin-bottom, 54, 2100); // 54px
      }

      h1 {
        text-transform: uppercase;
        @include vw-property(margin-bottom, 20, 2100); // 20px
        @include vw-font-size(14, 37.5, 2100); //37.5px; // TODO посмотреть min-font-size в мобильной версии
        color: $exposure-lesson-item-headline-color;
      }

      p {
        color: white;
        @include vw-font-size(14, 27, 2100); //27px; // TODO посмотреть min-font-size в мобильной версии
      }
    }
  }
}