#item-footer {
  height: 0;
  font-family: 'Roboto', sans-serif;

  .footer-top-img-container {
    @include vw-property(height, 700, 2100); // 720px
    min-height: 570px;
    background: url("../../assets/footer-top-img.png") 50% 0 no-repeat;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
    align-content: end;
    align-items: center;
    justify-items: center;
    position: relative;
    top: -550px;
    @include vw-property(padding-left, 147, 2100);
    @include vw-property(padding-right, 147, 2100);
    @include vw-property(margin-bottom, 30, 2100);
  }

  .partners-logo {
    @include vw-property(height, 130, 2100);
    min-height: 80px;
  }

  .footer-map {
    @include vw-property(margin-left, 86, 2100);
    @include vw-property(margin-right, 86, 2100);

    #footer-contacts {
      display: inline-block;

      a {
        display:table-cell;
        vertical-align:middle;
        @include vw-property(padding-right, 35, 2100);

        img {
          width: 24px;
          height: 24px;
        }
      }

      #footer-email:link, #footer-email:visited {
        text-decoration: none;
        color: #515e6a;
      }

      #footer-number:link, #footer-number:visited {
        font-weight: bold;
        text-decoration: none;
        color: #737179;
      }
    }

    nav {
      a {
        text-transform: uppercase;
        text-decoration: none;
        @include vw-property(margin-right, 20, 2100);

      }

      a:link, a:visited {
        color: #1077ff;
      }
    }
  }

  #footer-contacts, nav {
    margin-bottom: 15px;
  }
}