$bg-color: #27aae1;
$info-block-text-color: #002232;
$nav-link-color: #d9000e;

#item-header {
  // height: 720px;
  background: url("../../assets/clouds-top.png") 50% 0 no-repeat,
              url("../../assets/header-bg-lower.png") 50% -7% no-repeat;
  background-color: $bg-color;
  background-size: contain, auto;
  font-family: FuturaDemiC, sans-serif;

  .header-flex {
    display: grid;
    grid-template-columns: repeat(3, auto);

    .header-flex__item {
      margin: 4px;
      // TODO шрифт и размер текста
    }

    .header-flex__item-left {
      @include vw-property(margin-left, 30, 2100); // 30px
      align-self: center;
      justify-self: left;
      @include vw-font-size(14, 27, 2100); //27px; // TODO посмотреть min-font-size в мобильной версии
      line-height: 1.11;
      color: $info-block-text-color;
    }

    .header-flex__item-mid {
      align-self: center;
      justify-self: center;
      text-transform: uppercase;
      @include vw-font-size(14, 80, 2100); //80px; // TODO посмотреть min-font-size в мобильной версии
      color: $info-block-text-color;

      .header-logo {
        width: auto;
        min-height: 100px; // TODO посмотреть min-height в мобильной версии
        @include vw-property(height, 140, 2100); //140px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .header-flex__item-right {
      @include vw-property(margin-right, 30, 2100); // 30px
      text-align: right;
      align-self: center;
      justify-self: right;
      @include vw-font-size(14, 27, 2100); //27px; // TODO посмотреть min-font-size в мобильной версии
      color: $info-block-text-color;
    }
  }

  .header-nav {
    background-color: white;
    text-align: center;
    box-shadow: -0.1px 1px 10.7px 2.3px black;
    @include vw-font-size(14, 38, 2100); //80px; // TODO посмотреть min-font-size в мобильной версии

    a {
      display: inline-block;
      padding: 4px 5px;
      text-transform: uppercase;
      text-decoration: none;
    }

    a:link, a:visited  {
      color: $nav-link-color;
    }
  }

  .header-headline {
    @include vw-property(margin-top, 244, 2100); // 244px
    @include vw-property(margin-bottom, 97, 2100); // 97px
    text-align: center;

    h1 {
      margin-bottom: 32px;
      text-transform: uppercase;
      @include vw-font-size(14, 66.5, 2100); // 66.5px; // TODO посмотреть min-font-size в мобильной версии
      color: white;
    }

    p {
      @include vw-font-size(14, 35, 2100); // 35px; // TODO посмотреть min-font-size в мобильной версии
      color: white;
    }
  }
}