@import "const";

body {
  display: grid;
  grid-template-columns: 1fr; // $container;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "exposure"
    "add-services"
    "carousel"
    "footer";

  #item-header {
    grid-area: header;
  }

  #item-exposure {
    grid-area: exposure;
  }

  #item-add-services {
    grid-area: add-services;
  }

  #item-carousel {
    grid-area: carousel;
    @include vw-property(height, 1407, 2100); // 720px
    background-color: #5b47a8;

    img {
      @include vw-property(height, 1407, 2100); // 720px
      width: 100%;
    }
  }

  #item-footer {
    grid-area: footer;
  }
}