$container: 1174px;

@font-face {
  font-family: FuturaDemiC;
  src: url("../fonts/futurademic.otf") format("opentype");
}

@font-face {
  font-family: "FuturaBT Book";
  src: url("../fonts/futurabt_book.ttf");
}

/** Миксин расчитывает резиновый font-size */
@mixin vw-font-size($min-font-size, $template-font-size, $template-width) {
  $vw: (($template-font-size - $min-font-size) * 100 / $template-width);
  font-size: calc(#{$min-font-size}px + #{$vw}vw);
}

/** Миксин расчитывает резиновый height в зависимости от ширины экрана*/
@mixin vw-property($property, $template-height, $template-width) {
  #{$property}: #{$template-height * 100 / $template-width}vw;
}