@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

@import "utils/css-reset";
@import "body-container";

@import "sections/header-content";
@import "sections/exposure-content";
@import "sections/add-services-content";
@import "sections/carusel-content";
@import "sections/footer-content";

.container {
  max-width: $container;
  margin: 0 auto;
  padding: 0 10px;
}